- const root_path = '/';
- var img_path =  root_path + 'assets/img/';
- const css_path = root_path + 'assets/css/'
- const js_path = root_path + 'assets/js/'
- const site_url = ''
- const ga_tag = false

-
  const pages = { // 各ページに'var key = ""'で設定
    top : {
      title : 'MerryGoRound',
      description : 'MerryGoRound',
      name : '',
      image : '/assets/img/ogp.jpg',
      og : {
        title : 'MerryGoRound',
        description : 'MerryGoRound',
        name : '',
        image : '/assets/img/ogp.jpg',
        type : '',
        local : 'JP',
        site_name : 'MerryGoRound',
      }
    }
  }
